<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All</title>
</head>

<body>

</body>

</html>
<script>

    async function getAllWorkouts() {
        try {
            const res = await fetch('/exercises/exercises', {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' },
            });
            const data = await res.json();
            const allExercises = data || [];
            createResult(allExercises);
        } catch (err) {
            console.log("Error:", err);
            result.innerHTML = '<p>Failed to fetch favorite exercises. Please try again later.</p>';
        }
    }


</script>