<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
</head>

<div class="navbar"><!---TODO:make partial-->
    <img src="#" alt="Logo">
    <div class="menu" id="menu">
        <template id="loggedOut">
            <ul>
                <li ><a href="#">Today</a></li>
                <li ><a href="/render/templates">Templates</a></li>
                <li><a href="#">Stats</a></li>
                <li><a href="/render/login">Workouts</a></li> <!---Information-->
                <li><a href="/render/Log-Workout">Log workout</a></li>
                <li><a href="/render/register">Register</a></li>
                <li><a href="/render/login">Login</a></li>
            </ul>
        </template>
        <template id="loggedIn">
            <ul>
                <li><a href="#">Today</a></li>
                <li class="<%= activePage === 'templates' ? 'active' : '' %>"><a href="/render/templates">Templates</a></li>
                <li><a href="#">Stats</a></li>
                <li class="<%= activePage === 'workouts' ? 'active' : '' %>"><a href="/render/">Workouts</a></li> <!---Information-->
                <li class="<%= activePage === 'Log-Workout' ? 'active' : '' %>"><a href="/render/Log-Workout">Log workout</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/render/changePassword">Change Password</a></li>
                <li><button id="logoutLink" onclick="logout()">Logout</button></li>
            </ul> 
        </template>
    </div>
</div>

<script>
    const menu = document.getElementById('menu');
    const loggedInTemplate = document.getElementById('loggedIn');
    const loggedOutTemplate = document.getElementById('loggedOut');
    document.addEventListener('DOMContentLoaded', async function () {
        let content;
        try {
            const response = await fetch('/auth/user');
            const user = await response.json();
            if (user === null) {
                console.log('User is not logged in');
                content = loggedOutTemplate.content.cloneNode(true);
            } else {
                console.log('User is logged in');
                content = loggedInTemplate.content.cloneNode(true);
            }

            menu.appendChild(content);
        } catch (error) {
            console.error('Error fetching user data:', error);
        }
    });
    function logout() {
        fetch('/auth/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            credentials: 'same-origin'
        })
            .then(response => {
                if (response.ok) {
                    alert('You have been logged out.');
                    window.location.href = '/render/';
                } else {
                    alert('Logout failed.');
                }
            })
            .catch(error => {
                console.error('Error during logout:', error);
                alert('There was an error logging you out.');
            });
    }
</script>