<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup</title>
</head>
<body>
    <div class="popUp" id="popUp">
        <div class="popup-card">
            <button class="closeBtn" onclick="closePopUp(document.getElementById('container'))">X</button>
            <div class="name-container">
                <h2 id="popup-exercise-name" class="exercise-name"></h2>
                <button onclick="addToFav()" class="addToFavBtn">⭐️</button>
            </div>
            <h3 id="popup-exercise-type" class="exercise-type"></h3>
            <h3 id="popup-exercise-muscle" class="exercise-muscle"></h3>
            <h3 id="popup-exercise-equipment" class="exercise-equipment"></h3>
            <h3 id="popup-exercise-difficulty" class="exercise-difficulty"></h3>
            <p id="popup-exercise-instructions" class="exercise-instructions"></p>
        </div>
    </div>
</body>
</html>
<script>
    const closePopUp = (container) => {
        const popUp = document.getElementById('popUp');
        popUp.style.display = 'none';
        container.style.filter = 'none';
        menu.style.filter = 'none';
    };
    const openPopup = (element) => {
            const popUp = document.getElementById('popUp');
            const container = document.getElementById('container');

            document.getElementById('popup-exercise-name').textContent = `Exercise Name: ${element.name}`;
            document.getElementById('popup-exercise-type').textContent = `Type: ${element.type}`;
            document.getElementById('popup-exercise-muscle').textContent = `Muscle targeted: ${element.muscle}`;
            document.getElementById('popup-exercise-equipment').textContent = `Equipment: ${element.equipment}`;
            document.getElementById('popup-exercise-difficulty').textContent = `Difficulty: ${element.difficulty}`;
            document.getElementById('popup-exercise-instructions').textContent = `Instructions: ${element.instructions}`;

            popUp.style.display = 'block';
            container.style.filter = 'blur(5px)';
            menu.style.filter = 'blur(5px)';
        };

</script>