<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recently Viewed</title>
</head>

<body>

</body>

</html>
<script>

    async function recentlyViewed() {
        try {
            const res = await fetch('/exercises/recentlyViewed', {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' },
            });
            const data = await res.json();
            const exercises = data.recentlyViewed || [];
            createResult(exercises);
        } catch (err) {
            console.log("Error:", err);
            result.innerHTML = '<p>Failed to fetch recently viewed exercises. Please try again later.</p>';
        }
    }

    function addRecentlyViewed(exercise) {
        fetch('/exercises/recentlyView', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ exercise }),
        })
            .then(response => response.json())
            // .then(data => {
            //     if (data.message === "Exercise added to favorites") {
            //         console.log('Exercise added to favorites!');
            //         star.style.color = 'gold';
            //     } else if (data.message === "Exercise removed from favorites") {
            //         console.log('Exercise removed favorites!');
            //         star.style.color = 'black';
            //     }
            // })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>