<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    
</body>
</html>
<script>
const createResult = data => {
    result.innerHTML = '';
    data.forEach(element => {
        const exercise = document.createElement('div');
        exercise.className = 'exercise-card';
        exercise.innerHTML = `
            <h2 class="exercise-name">Exercise name: ${element.name}</h2>
            <h3 class="exercise-type">Type: ${element.type}</h3>
            <h3 class="exercise-muscle">Muscle targeted: ${element.muscle}</h3>
            <h3 class="exercise-equipment">Equipment: ${element.equipment}</h3>
            <h3 class="exercise-difficulty">Difficulty: ${element.difficulty}</h3>
            <p class="exercise-instructions">Instructions: ${element.instructions}</p>
        `;
        exercise.addEventListener('click', () => openPopup(element));
        result.appendChild(exercise);
    });
};
</script>
