<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>

<body>
    <main class="searchContainer">
            <input type="text" name="query" id="searchWorkout" placeholder="Search for workouts...">
            <button type="submit" id="submitBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </main>
    <script>

        const searchWorkout = document.getElementById('searchWorkout');
        const submitBtn = document.getElementById('submitBtn');
        submitBtn.addEventListener('click', async (e) => {
            console.log('result');

            try {
                // const response = await fetch('/auth/changePasswordRequest', {
                //     method: 'POST',
                //     headers: {
                //         'Content-Type': 'application/json'
                //     },
                //     body: JSON.stringify({ email: emailValue })
                // })
                // const result = await response.json();
            } catch (err) {
                console.log("Error:", err);
            }
        })
    </script>
</body>

</html>