<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who to follow</title>
    <link rel="stylesheet" href="/authstyle.css">

    <style>
    </style>
</head>
<body>
    <div class="login-container">
        <h1 class="opacity">Change password</h1>
        <form id="passwordChangeForm">
            <input type="password" id="oldPassword" placeholder="Old Password" required>
            <input type="password" id="newPassword" placeholder="New Password" required>
            <input type="password" id="confNewPassword" placeholder="Confirm New Password" required>
            <button type="submit">Change Password</button>
        </form>
    </div>
    <script>

    </script>
</body>
</html>
