:root {
    --background: #2c3e50;
    --color: #ecf0f1;
    --primary-color: #34495e;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--background);
    border-bottom: 1px solid transparent;
    box-shadow: 0 2px 4px rgba(26, 26, 26, 0.277);
}



.menu{
    padding-top: 10px;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.menu ul li {
    margin: 0 15px;
}
.menu {
    margin-left: auto;
    margin-right: 100px;
}
.menu ul li a  {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 5px 10px;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}
.menu ul li button{
    color: black;
}
.menu ul li a:hover, .menu ul li button:hover {
    color: #007BFF;
    background-color: rgba(0, 123, 255, 0.1);
    border-radius: 4px;
}

#logoutLink {
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    cursor: pointer;
}

.container {
    padding-left: 30px;
    width: 100%;
    overflow-y: auto;
    height: 200vh;
    background: var(--primary-color);
    color: var(--color);
    box-sizing: border-box;
}

.workout-button {
    background-color: #fdfdfd;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.workout-button:hover {
    text-decoration: underline;
}

#header {
    font-size: 16px;
    padding-left: 30px;
}

.content {
    padding: 20px;
    margin-top: 50px;
}

#result {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    padding: 20px;
    justify-content: start;
    max-height: 230px;
    overflow-y: scroll;
}

#resultApi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px;
    justify-content: start;
    max-height: 100vh;
    overflow-y: scroll;
}

.exercise-card {
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 95%;
    max-height: 230px;
    text-align: left;
    overflow-y: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-size: 100px 100px;
    background-color: #ddd;
}

.exercise-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.exercise-name {
    font-size: 1.5em;
    color: #333;
    padding-right: 10px;
}

.addToFavBtn {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 1.2em;
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.exercise-type, 
.exercise-muscle, 
.exercise-equipment, 
.exercise-difficulty {
    font-size: 1.1em;
    color: #555;
    margin: 5px 0;
}

.exercise-instructions {
    font-size: 0.95em;
    color: #666;
    margin-top: 10px;
    line-height: 1.5;
}

.float-right {
    float: right;
}

.addTemplate {
    margin-top: 10px;
}

.templateBtn {
    font-size: 22px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 45px;
}

.closeBtn {
    font-size: 40px;
    background-color: transparent;
    border: 1px solid transparent;
    float: right;
    cursor: pointer;
}

select {
    margin-right: 10px;
    width: 250px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    font-size: 18px;
    display: inline-block;
}

option {
    width: 250px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    background-color: #fff;
    color: #333;
    border: 1px solid black;
}

.dropdown {
    display: inline-block;
}

.type {
    display: inline-block;
    margin-top: 0;
}

.miniMenu {
    margin-left: 20px;
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
    border: 1px solid transparent;
    border-radius: 5px;
}

.miniMenu .btn {
    font-size: 15px;
    height: 95%;
    background-color: rgb(224, 224, 224);
    padding: 8px 16px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    margin: 0 1px;
}
.settings{

}
.settings ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-bottom: 200px;
}
.settings .dropdown li:first-child {
    padding-top: 20px; /* Add extra padding to the first item */
}
.settings li {
    position: relative;
    padding: 7px;
}
.settings .dropdown {
    display: none; /* Hide dropdown by default */
    background-color: #2c3e50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    position: absolute;
    top: 50px;
    text-align: left;
    border-radius: 4px;
    list-style: none;
    min-width: 150px;
}

.settings:hover .dropdown {
    display: block; /* Show dropdown on hover */
}

.miniMenu .btn:hover {
    text-decoration: underline;
}

.miniMenu .btn.active {
    background-color: rgb(240, 240, 240);
    text-decoration: underline;
}
.active{
    text-decoration: underline;
    font-weight: 900;

}
.searchContainer {
    position: absolute;
    right: 60px;
    top: 80px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(26, 26, 26, 0.277);
}

.searchContainer form {
    display: flex;
    align-items: center;
}

.searchContainer input[type="text"] {
    width: 250px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchContainer input[type="text"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.searchContainer button {
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchContainer button:hover {
    background-color: #0056b3;
}
